$lightBgColor: rgba(0,0,0,0.5);

.menu_nav {
  height: 70px;
  margin: auto;
  width: 600px; 
  .menu_nav_item {
    float: left;
    width: 150px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    p {margin: 0;}
    &:hover, &.active {
      box-shadow: inset 0px 0px 2px $lightBgColor;
      font-weight: 600;
    }
  }
}