
body {
  margin: 0;
}

.welcome {
  background-color: red;
  width: 100vw;
  height: 100vh;
}

.welcome:nth-of-type(1) {
  background-color: green;
}

#test {
  position: relative;
  background-color: yellow;
  width: 100vw;
  height: 100vh;
}