$font: 'Montserrat';
$bgColor: #232323;
$lightBgColor: rgba(0,0,0,0.5);
$fullHeight: 100vh;

body {
  margin: 0;  
  background-color: $bgColor; 
  font-family: $font;
  overflow-x: hidden;
}

@mixin page_section {
  background-color: $bgColor;
  width: 100vw;
  height: 100vh;
  padding-left: 80px;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  right: 100vw;
}

@mixin welcomeSide {
  position: absolute;
  height: $fullHeight;
}

.page_section {
  @include page_section;
  p {
    margin: 0;
  }
  h1 {
    margin: 0;
  }
  // &.welcome {}
  &.about {background-color: red;}

  .content_side {
    @include welcomeSide;
    background-color: rgb(240, 240, 240);
    width: 60%;
    padding-left: 80px;
    box-sizing: border-box;
    left: 0;
    box-shadow: 0px 0px 10px 5px $lightBgColor;
    z-index: 2;
    top: -100vh;

    .content-button {
      width: 210px;
      height: 70px;
      position: absolute;
      box-shadow: inset 0px 0px 10px $lightBgColor;
      // background-color: $bgColor;
      bottom: 100px;
      left: 0; right: 0;
      margin: auto;
      text-align: center;
      p {
        line-height: 70px;
        margin: 0;
        // color: white;
        color: $bgColor;
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;
        text-shadow: 1px 1px 1px $lightBgColor,
                     1px 1px 5px  white,
                    -1px -1px 5px $lightBgColor,
                    -1px -1px 5px white;
      }
    }

    h1 {
      text-shadow: 1px 1px 1px white,
                   1px 1px 5px $lightBgColor,
                   -1px -1px 5px white,
                   -1px -1px 5px $lightBgColor;
      font-weight: 600;
      color: $bgColor;
      margin: 0;
      text-transform: uppercase;
      margin-top: 100px;
    }
    h1:first-of-type {
      font-size: 3em;
      margin-left: 100px;
    }
    h1:last-of-type {
      font-size: 5em;
      text-transform: capitalize;
      text-align: center;
    }
  }
  
  .image_side {
    @include welcomeSide;
    background: url('/img/background.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    width: 40%; 
    right: 0;
    z-index: 1;
    bottom: -100vh;
  }
}

#loading {
  width: 100%;
  height: 100vh;
  background-color: blue;
  position: fixed;
  transition: 0.5s;
  z-index: 99;
  overflow: hidden;
  & img {
    width: 150px;
    height: 150px;
    position: absolute;
    transition-property: opacity;
    transition-duration: 0.5s;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    transform-origin: center;
    animation-duration: 0.9s;
    animation-name: spinning;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes spinning {
  from {transform: rotateZ(0deg)}
  to {transform: rotateZ(360deg)}
}

.loaded {
  width: 0px !important;
  & img {
    opacity: 0;
    display: none;
  }
}