$font: 'Montserrat';
$bgColor: #232323;
$lightBgColor: rgba(0,0,0,0.5);
$fullHeight: 100vh;

body {
  margin: 0;  
  background-color: $bgColor; 
  font-family: $font;
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, textarea {font-family: $font; color: $bgColor;}
input::-webkit-input-placeholder {color: $bgColor;}
input:-moz-placeholder {color: $bgColor; opacity: 1;}
input::-moz-placeholder {color: $bgColor; opacity: 1;}
input:-ms-input-placeholder {color: $bgColor;}
input::-ms-input-placeholder {color: $bgColor;}
input::placeholder {color: $bgColor;}
textarea::-webkit-input-placeholder {color: $bgColor;}
textarea:-moz-placeholder {color: $bgColor; opacity: 1;}
textarea::-moz-placeholder {color: $bgColor; opacity: 1;}
textarea:-ms-input-placeholder {color: $bgColor;}
textarea::-ms-input-placeholder {color: $bgColor;}
textarea::placeholder {color: $bgColor;}

@mixin page_section {
  background-color: $bgColor;
  width: 100vw;
  height: 100vh;
  padding-left: 80px;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  right: 100vw;
}

@mixin welcomeSide {
  position: absolute;
  height: $fullHeight;
}
@mixin backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.page_section {
  @include page_section;
  p {
    margin: 0;
  }
  h1 {
    margin: 0;
  }
}


