$font: 'Montserrat';
$bgColor: #232323;
$lightBgColor: rgba(0,0,0,0.5);
$fullHeight: 100vh;

@mixin welcomeSide {
  position: absolute;
  height: $fullHeight;
}

@mixin backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
 
.welcome {
  .content_side {
    @include welcomeSide;
    background-color: rgb(240, 240, 240);
    width: 60%;
    padding-left: 80px;
    box-sizing: border-box;
    left: 0;
    box-shadow: 0px 0px 10px 5px $lightBgColor;
    z-index: 2;
    top: -100vh;

    .content-button {
      width: 210px;
      height: 70px;
      position: absolute;
      box-shadow: inset 0px 0px 10px $lightBgColor;
      bottom: 100px;
      left: 0; right: 0;
      margin: auto;
      text-align: center;
      p {
        line-height: 70px;
        margin: 0;
        // color: white;
        color: $bgColor;
        font-size: 1em;
        font-weight: 600;
        cursor: pointer;
        text-shadow: 1px 1px 1px $lightBgColor,
                      1px 1px 5px  white,
                    -1px -1px 5px $lightBgColor,
                    -1px -1px 5px white;
      }
    }

    h1 {
      text-shadow: 1px 1px 1px white,
                    1px 1px 5px $lightBgColor,
                    -1px -1px 5px white,
                    -1px -1px 5px $lightBgColor;
      font-weight: 600;
      color: $bgColor;
      margin: 0;
      text-transform: uppercase;
      margin-top: 100px;
    }
    h1:first-of-type {
      font-size: 3em;
      margin-left: 100px;
    }
    h1:last-of-type {
      font-size: 5em;
      text-transform: capitalize;
      text-align: center;
    }
  }
  
  .image_side {
    @include welcomeSide;
    @include backgroundImage;
    background: url('/img/background.jpg');
    width: 40%; 
    right: 0;
    z-index: 1;
    bottom: -100vh;
  }
}

@media (max-width: 1100px) {
  .welcome {
    .content_side {
      h1 {margin-top: 80px;}
      h1:first-of-type {
        font-size: 2.5em;
        margin-left: 80px;
      }
      h1:last-of-type {font-size: 4.3em;}
    }
  }
}

@media (max-width: 950px) {
  .welcome {
    .content_side {
      .content-button {
        bottom: 50px;
        height: 50px;
        p {line-height: 50px;}
      }
  
      h1 {margin-top: 50px;}
      h1:first-of-type {
        font-size: 2em;
        margin-left: 50px;
      }
      h1:last-of-type {font-size: 3.5em;}
    }
  }
}


@media (max-width: 800px) {
  .welcome {
    .content_side {
      box-sizing: border-box;
      padding-top: 50px !important;
      padding-left: 0px;
    }
  }
}


@media (max-width: 700px) {
  .welcome {
    .content_side {
      h1:last-of-type {font-size: 3em;}
    }
  }
}


@media (max-width: 550px) {
  .welcome {
    .content_side {
      width: 70%;
      .content-button {
        bottom: 25px;
        width: 200px;
        height: 40px;
        p {
          line-height: 40px;
          font-size: 0.9em;
        }
      }
  
      h1 {margin-top: 40px;}
      h1:first-of-type {
        font-size: 1.8em;
        margin-left: 40px;
      }
      h1:last-of-type {font-size: 2.5em;}
    }
    
    .image_side {width: 30%; background-position: center;}
  }
}

@media (max-width: 450px) {
  .welcome {
    .content_side {
      width: 80%;
      h1 {margin-top: 50px;}
      h1:first-of-type {font-size: 1.5em;}
      h1:last-of-type {font-size: 2.1em;}
    }
    .image_side {width: 20%;}
  }
}

// @media (max-width: 450px) {
//   .welcome {
//     .content_side {
//       width: 80%;
//       .content-button {
//         // bottom: 25px;
//         // width: 200px;
//         // height: 40px;
//         p {
//           // line-height: 40px;
//           // font-size: 0.9em;
//           // font-weight: 600;
//         }
//       }
  
//       h1 {
//         // font-weight: 600;
//         margin-top: 50px;
//       }
//       h1:first-of-type {
//         font-size: 1.5em;
//         // margin-left: 40px;
//       }
//       h1:last-of-type {
//         font-size: 2.1em;
//       }
//     }
    
//     .image_side {width: 20%;}
//   }
// }