$font: 'Montserrat';
$bgColor: #232323;
$lightBgColor: rgba(0,0,0,0.5);
$fullHeight: 100vh;

@mixin welcomeSide {
  position: absolute;
  height: $fullHeight;
}

@mixin backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.exit {
  position: absolute;
  width: 50px; height: 50px;
  box-shadow: inset 0px 0px 10px $lightBgColor;
  text-align: center;
  z-index: 3;
  left: 0;
  i {
    margin-top: 9px;      
    cursor: pointer;
  }
}

.menu {
  
  .menu_side {
    @include welcomeSide;
    background-color: rgb(240, 240, 240);
    width: 100%;
    box-sizing: border-box;
    padding-left: 40%;
    left: -100vw;
    
    .menu_header {
      width: 100%;
      box-sizing: border-box;
      padding: 0 50px;
      text-align: center;
      h1 {
        color: $bgColor;
        line-height: 80px;
        font-size: 2em;
        margin: 0;
        height: 80px;
        text-transform: capitalize;
        font-weight: 300;
        text-shadow: 1px 1px 1px $lightBgColor,
                      1px 1px 1px  white,
                    -1px -1px 15px $lightBgColor,
                    -1px -1px 5px white;
      }
      p {
        font-size: 1.2em;
      }
    }
    .menu_items {
      width: 100%;
      padding: 0 50px;
      box-sizing: border-box;
      height: 240px;
    }
    .item_more {
      width: 150px;
      height: 50px;
      margin: auto;
      p {
        width: 150px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        color: $bgColor;
        box-shadow: inset 0px 0px 10px $lightBgColor;
        cursor: pointer;
      }
    }
  }
  .menu_image_side {
    @include welcomeSide;
    @include backgroundImage;
    background: url('/img/background.jpg');
    width: 40%; 
    z-index: 1;
    padding-left: 80px;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 0px 0px 10px 5px $lightBgColor;
    left: -100vw;
    overflow: hidden;
  }
}

.fullscreen_menu {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  transition: 0.5s;
  background-color: rgb(240, 240, 240);
  position: absolute;
  z-index: 99;
  overflow-y: scroll;
  &.opened {
    transform: scale(1);
  }
  &.item_opened {
    overflow-y: hidden;
  }

  .header {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: rgb(240, 240, 240);
    z-index: 3;

    .header_menu {
      position: absolute;
      width: 100%;
      padding-left: 50px;
      top: 0;
      box-sizing: border-box;
      z-index: 2;

    }
  }

  .fullscreen_item {
    overflow: hidden;
    width: 100vw;
    height: 0px;
    transition: 0.5s;
    background-color: rgb(240, 240, 240);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    &.opened {
      height: 100vh;
    }

    .fullscreen_item_container {
      width: 800px;
      box-shadow: inset 0px 0px 10px $lightBgColor;
      box-sizing: border-box;
      padding: 25px;
      text-align: center;
      height: 500px;
      position: absolute;
      bottom: 0; top: 0;
      left: 0; right: 0;
      margin: auto;
      .fullscreen_item_image {
        width: 80%;
        height: 250px;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .item_title {
        font-size: 1.3em;
        line-height: 60px;
        margin: 0 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .item_desc {
        width: 80%;
        margin: 15px auto;
        box-sizing: border-box;
      }
    }
  }

  .full_menu_items {
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px;
    margin-top: 100px;
    position: absolute;
    top: 0;
    z-index: 2;
  }
}

@media (max-width: 1200px) {
  .menu {
    .menu_side {
      padding-left: 35%;
      .menu_header {
        // width: 100%;
        // padding: 0 50px;
        h1 {
          // line-height: 80px;
          // font-size: 2em;
          // height: 80px;
        }
        // p {font-size: 1.2em;}
      }
      .menu_items {
        // padding: 0 50px;
        // height: 240px;
      }
      .item_more {
        // width: 150px;
        // height: 50px;
        p {
          // width: 150px;
          // height: 50px;
          // line-height: 50px;
        }
      }
    }
    .menu_image_side {
      width: 35%; 
      // padding-left: 80px;
      // left: -100vw;
      // background-position: center;
    }
  }
  
  .fullscreen_menu {
    .header {
      // width: 100%;
      // height: 70px;
    }
  
    .fullscreen_item {
  
      .fullscreen_item_container {
        width: 700px;
        // padding: 25px;
        height: 400px;
        .fullscreen_item_image {
          // width: 80%;
          height: 200px;
        }
        .item_title {
          font-size: 1.1em;
          line-height: 40px;
          // margin: 0 auto;
        }
        .item_desc {
          font-size: 0.9em;
          // width: 80%;
          // margin: 15px auto;
        }
      }
    }
  
    .full_menu_items {
      // width: 100%;
      // padding: 0 50px;
      // margin-top: 100px;
    }
  }
}